.comments {
  .container {
    position: relative;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__show {
    width: 170px;
    text-align: left;
    margin: 0 0 30px 0;
    cursor: pointer;
    color: #fff;
    background: none;
    font-size: 22px;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);

    mat-form-field {
      width: 100%;
      font-size: 16px;
    }
  }
}

.input {
  &__save {
    margin: 0 20px;
  }

  &__save,
  &__cancel {
    margin-top: -20px;
    height: 50px;
    width: 80px;
  }
}
