<div class="comments">
    <div class="container">
        <div class="comments__inner">
            <h1 class="comments__title">Comments</h1>
            <button class="comments__show"
                    (click)="showInput()">+ Add comment</button>
            <div class="comments__comment" *ngFor="let comment of comments">
                <app-comment [comment]="comment"></app-comment>
            </div>
            <form [formGroup]="form" class="comments__input" *ngIf="!inputHidden">
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>Add comment</mat-label>
                    <textarea matInput
                              formControlName="body"
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="1"
                              [errorStateMatcher]="commentErrorStateMatcher"></textarea>
                </mat-form-field>
                <input type="hidden" formControlName="parentCommentId">
                <button class="input__save"
                        mat-raised-button
                        color="primary"
                        [disabled]="form.invalid"
                        (click)="addComment()">Save</button>
                <button class="input__cancel"
                        mat-raised-button
                        color="warn"
                        (click)="closeInput()">Cancel</button>
            </form>
        </div>
    </div>
</div>
