<div class="nav">
    <div class="container">
        <mat-toolbar class="nav__tool-bar">
            <a routerLink="/" class="nav__logo">
                <img class="logo__image" src="assets/images/coin.png" alt="">
                <h1 class="logo__title">Game store</h1>
            </a>
            <ul class="nav__links">
                <li class="nav__link">
                    <a routerLink="/">Games</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">Community</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">About</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">Support</a>
                </li>
            </ul>
            <span class="example-spacer"></span>
            <button class="nav__sign-in">Sign in</button>
        </mat-toolbar>
    </div>
</div>
