<div class="nav">
    <div class="container">
        <mat-toolbar class="nav__tool-bar">
            <a routerLink="/" class="nav__logo">
                <img class="logo__image" src="assets/images/coin.png" alt="">
                <h1 class="logo__title">Game store</h1>
            </a>
            <ul class="nav__links">
                <li class="nav__link">
                    <a routerLink="/">Games</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">Community</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">About</a>
                </li>
                <li class="nav__link">
                    <a routerLink="/">Support</a>
                </li>
            </ul>
            <span class="example-spacer"></span>
            <button *ngIf="!(authService.currentUser$ | async);else userPanel"
                    class="nav__sign-in"
                    (click)="openAuthDialog()">Sign in</button>
            <ng-template #userPanel>
                <button class="nav__user-panel"
                        [matMenuTriggerFor]="menu">
                    <img    class="nav__user-image"
                            [src]="(authService.currentUser$ | async)?.profileImage?.url ?? '../../assets/images/user.png'">
                    <p>{{(authService.currentUser$ | async)?.userName}}</p>
                    <mat-menu class="nav__menu" #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>person</mat-icon>
                            <label>
                                <input class="nav__change-image"
                                       (change)="changeProfileImage()"
                                       #imageInput
                                       name="file"
                                       type="file"
                                       accept="image/png, image/jpeg">
                                Change profile image
                            </label>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </button>
                <mat-icon class="nav__cart" (click)="openCartDialog()">shopping_cart</mat-icon>
            </ng-template>
        </mat-toolbar>
    </div>
</div>
